<div>
    <h2 id="page-heading">
        <span>Receptek</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-recept" [routerLink]="['/recept/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span>
            Új Recept
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="recepts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>Név</span></th>
            <th><span>Kategória</span></th>
            <th><span>Címkék</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let recept of recepts  | orderBy : 'nev';  trackBy: trackId">
                <td [routerLink]="['/recept', recept.id, 'view' ]">{{recept.nev}}</td>
                <td>
                    <div *ngIf="recept.kategoriaId">
                        <a [routerLink]="['../kategoria', recept.kategoriaId , 'view' ]">{{recept.kategoriaNev}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let hashtagek of recept.hashtageks; let last = last">
                            <a class="form-control-static" [routerLink]="['../hash-tag', hashtagek?.id, 'view' ]"> #{{hashtagek.nev}}</a>
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/recept', recept.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'recept/'+ recept.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
