<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="recept">
            <h2>{{recept.nev}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                
                <dt><span jhiTranslate="bubichefApp.recept.kategoria">Kategória</span></dt>
                <dd>
                    <div *ngIf="recept.kategoriaId">
                        <a [routerLink]="['/kategoria', recept.kategoriaId, 'view']">{{recept.kategoriaNev}}</a>
                    </div>
                </dd>
                
                <dt>Összetevők</dt>
                <dd>
                	<ul>
	                    <span *ngFor="let osszetevok of recept.osszetevoks; let last = last">
	                    	<li>
		                        <a [routerLink]="['/osszetevo', osszetevok.osszetevo?.id, 'view' ]">
		                        
		                        {{osszetevok.osszetevo.nev}}
		                        {{osszetevok.mennyiseg}}
		                        {{osszetevok.megjegyzes}}
		                        
		                        </a>
	                        </li>
	                    </span>
                    </ul>
                </dd>
                
                <dt><span jhiTranslate="bubichefApp.recept.leiras">Leírás</span></dt>
                <dd>
                    <span>{{recept.leiras}}</span>
                </dd>
                
                <!-- <dt><span jhiTranslate="bubichefApp.recept.hashtagek">Hashtagek</span></dt>  -->
                <dd>
                    <span *ngFor="let hashtagek of recept.hashtageks; let last = last">
                        <a [routerLink]="['/hash-tag', hashtagek?.id, 'view' ]">#{{hashtagek.nev}}</a>
                    </span>
                </dd>
                
                <!-- <dt><span jhiTranslate="bubichefApp.recept.kep">Kep</span></dt>
                <dd>
                    <div *ngIf="recept.kep">
                        <a (click)="openFile(recept.kepContentType, recept.kep)">
                            <img [src]="'data:' + recept.kepContentType + ';base64,' + recept.kep" style="max-width: 100%;" alt="recept image"/>
                        </a>
                        {{recept.kepContentType}}, {{byteSize(recept.kep)}}
                    </div>
                </dd>
                
                <dt><span jhiTranslate="bubichefApp.recept.feltoltve">Feltoltve</span></dt>
                <dd>
                    <span>{{recept.feltoltve}}</span>
                </dd>  -->
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/recept', recept.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
