<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="osszetevo">
            <h2>{{osszetevo.nev}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Leírás</span></dt>
                <dd>
                    <div [innerHTML]="osszetevo.leiras"></div>
                </dd>
                <dt><span>Kép</span></dt>
                <dd>
                    <div *ngIf="osszetevo.kep">
                        <a (click)="openFile(osszetevo.kepContentType, osszetevo.kep)">
                            <img [src]="'data:' + osszetevo.kepContentType + ';base64,' + osszetevo.kep" style="max-width: 100%;" alt="osszetevo image"/>
                        </a>
                        {{osszetevo.kepContentType}}, {{byteSize(osszetevo.kep)}}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/osszetevo', osszetevo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>

<h1 align="center">Receptek</h1>
<div class="table-responsive" *ngIf="recepts">
    <table class="table table-striped">
        <thead>
        <tr>
        <th><span>Név</span></th>
        <th><span>Kategória</span></th>
        <th><span>Címkék</span></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let recept of recepts  | orderBy : 'nev';  trackBy: trackId">
            <td [routerLink]="['/recept', recept.id, 'view' ]">{{recept.nev}}</td>
            <td>
                <div *ngIf="recept.kategoriaId">
                    <a [routerLink]="['../kategoria', recept.kategoriaId , 'view' ]">{{recept.kategoriaNev}}</a>
                </div>
            </td>
            <td>
                <span *ngFor="let hashtagek of recept.hashtageks; let last = last">
                  <a class="form-control-static" [routerLink]="['../hash-tag', hashtagek?.id, 'view' ]"> #{{hashtagek.nev}}</a>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
