<div [ngSwitch]="isAuthenticated()">
	<div *ngSwitchCase="true">
    	<input style="border:none;background-color:azure;height:20vh;width:100%;" type="button" value="Recept" routerLink="recept" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" />   	
    	<input style="border:none;background-color:lavender;height:20vh;width:100%;" type="button" value="Összetevők" routerLink="osszetevo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" />
		<input style="border:none;background-color:cornsilk;height:20vh;width:100%;" type="button" value="Kategória" routerLink="kategoria" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" />
		<input style="border:none;background-color:coral;height:20vh;width:100%;" type="button" value="Hash-Tag" routerLink="hash-tag" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" />
    </div>

    <div *ngSwitchCase="false">
    	<span>
	    	<input type="text" [(ngModel)]="password" />
	    	<input type="button" value="Mehet!" (click)="login()"/>
    	</span>
    </div>
</div>