<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="kategoria">
            <h2><span>Kategória - {{kategoria.nev}}</span></h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Név</span></dt>
                <dd>
                    <span>{{kategoria.nev}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/kategoria', kategoria.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
        
        <jhi-recept></jhi-recept>
        
    </div>
</div>
